*{
    margin: 0;
    padding: 0;
}

/*font*/
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

header, main{
    background-color: #F5F5F5;
    padding: 0 160px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

/*Shared style*/
.btn-primary{
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 17px;
    background-color: #006A50;
    padding: 17px 34px;
    border: none;
}

.btn-primary:hover{
    background-color: #00B87A;
}

/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 44px 0;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.nav-button{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-family: "Fira Sans", serif;
}

.nav-button:hover{
    background-color: #006A50;
    color: #FFFFFF;
}

/*section-banner*/
.section-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1280;
    height: 560px;
    padding: 80px 100px;

}

.section-banner .first-title{
     font-size: 24px;
     font-weight: 500;
     color: rgba(14, 14, 14, 0.5);
}

.section-banner .main-title{
      font-size: 56px;
      font-weight: bold;
      padding: 16px 0 24px;
}

/*Section-piller 2nd page*/
.section-pillers{
    padding: 80px 0;
}

.section-piller-title{
    padding: 0 0 32px 0;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1)
}

.section-piller-containers{
    display: flex;
    gap:24px;
}

.piller-item{
    width: 25%;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.piller-title{
    padding: 24px 0 12px 0;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.piller-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

/*section-vision page 3*/

.section-vision-title{
    padding: 0 0 24px 0;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1)
}

.section-vision-desc{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.section-vision-container{
    display: flex;
    padding: 32px 0px;
    gap: 24px;
}

.vision-item{
    padding: 32px;
    width: 33%;
    border-radius: 16px;
}

.vision-item-1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-item-2{
    background-color: rgba(198, 228, 214, 1);
}

.vision-item-3{
    background-color: rgba(247, 235, 207, 1);
}

.vision-title{
    padding: 24px 0 12px 0;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.vision-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    padding: 0 0 24px 0;
}

.vision-span{
    /* display: block;
    width: 122px; */
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.vision-span-1{
    background-color: #5490F5;
}

.vision-span-1:hover{
    background-color: #366FDA;
}

.vision-span-2{
    background-color: #09A15C;
}

.vision-span-2:hover{
    background-color: #087C4A;
}

.vision-span-3{
    background-color: #FFC239;
}

.vision-span-3:hover{
    background-color: #DFA230;
}

/*section-quote Quote*/
.section-quote{
    background-color: white;
    padding: 48px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 25px;
    border-radius: 16px;
}
.section-quote-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}
.section-quote-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 0 4px 0;
}

/*section-opinion*/

.section-opinion{
    padding: 80px 0;
}
.section-opinion-title{
    font-size: 40px;
    font-weight: bold;
    padding: 24px;
}

.section-opinion > div{
    padding: 32px;
    background-color: white;
    border-radius: 16px;
}

.opinion-table{
    border-collapse: collapse;
    width: 100%;
    padding: 32px;
    background-color: white;
}

.opinion-table tr{
    height: 92px;
    text-align: left;
}

.opinion-table .large-row{
    width: 77%;
}

.opinion-table .small-row{
    width: 23%;
}
.opinion-table td, th{
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion-table > thead > tr{
    background-color: rgba(198, 228, 214, 1);
}

.opinion-table > thead > tr > th{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
    padding: 24px;
}

.opinion-table > tbody > tr > td{
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}

.option-dropdown{
    padding: 10px 14px;
    border-radius: 4px;
    background-color: rgba(198, 228, 214, 1);
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}

/*Recent news section-news*/

.section-news-title{
    font-size: 40px;
    font-weight: bold;
}

.section-news-desc{
    padding: 24px 0 32px 0;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.individual-news{
    display: flex;
    padding: 48px;
    border-radius: 24px;
    background-color: white;
    gap: 32px;
    align-items: center;
    margin-bottom: 24px;
}

.main-image-news{
    border-radius: 24px;
}

.short-news > h3{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);

}

.short-news > img{
    padding: 12px 0 0 0;
}

.short-news > p{
    padding: 12px 0 0 0;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.short-news > p > time > span{
    padding-right: 12px;
} 
.span-btn{
    padding: 32px 0 0 0;
}

.rotate-news{
    flex-direction: row-reverse;
}

/*section-donate*/

.section-donate{
    padding: 80px 0;
}

.section-donate-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    padding-bottom: 24px;
}

.section-donate-desc{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    padding: 0 88px 32px 88px;
}

.donate-coupons{
    display: flex;
    gap: 24px;
    padding: 0 104px;
}

.donate-coupon{
    background-color: white;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    width: 25%;
    text-align: center;
    border-radius: 16px;
}

.donate-coupon-2{
    background-color: rgba(198, 228, 214, 1);
}

.donate-coupon:hover{
    background-color: rgb(118, 216, 170);
}

.donate-input{
     padding: 32px 124px;
}
.section-donate input[type="text"]{
    display: block;
    width: 90%;
    background-color: white;
    padding: 20px 40px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    border: none;
    text-align: center;
}

.donate-btn{
    text-align: center;
}

/*section-subscribe*/

main{
    padding-bottom: 80px;
}
.section-subscribe{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}

.section-subscribe div > h2{
    padding-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    text-align: center;
}

.section-subscribe div > p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    line-height: 24px;
}

.subscribe-desc{
    padding: 16px 0 24px 0;
}

.subscribe-email{
    display: flex;
    justify-content: center;
}

.sub-input-email{
    width: 520px;
    height: 19px;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 18px 40px;
    font-size: 16px;
}

.sub-input-btn{
    width: 150px;
    height: 56px;
    border-radius: 0 8px 8px 0;
}

.sub-ending{
    padding: 24px 0 80px 0;
}

/*footer*/

footer{
    text-align: center;
}

footer > h2{
    padding: 50px 0 32px 0;
}

footer > div{
    padding: 32px 0 50px 0;
}

.footer-icons{
    display: flex;
    justify-content: center;
    gap: 23px;
}