*{
    margin: 0;
    padding: 0;
}

/*font*/
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

header, main{
    background-color: #F5F5F5;
    padding: 0 160px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

/*Shared style*/
.btn-primary{
    font-size: 18px;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 17px;
    background-color: #006A50;
    padding: 17px 34px;
    border: none;
}

.btn-primary:hover{
    background-color: #00B87A;
}

/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 44px 0;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.nav-button{
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-family: "Fira Sans", serif;
}

.nav-button:hover{
    background-color: #006A50;
    color: #FFFFFF;
}

/*section-banner*/
.section-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1280;
    height: 560px;
    padding: 80px 100px;

}

.section-banner .first-title{
     font-size: 24px;
     font-weight: 500;
     color: rgba(14, 14, 14, 0.5);
}

.section-banner .main-title{
      font-size: 56px;
      font-weight: bold;
      padding: 16px 0 24px;
}

/*Section-piller 2nd page*/
.section-pillers{
    padding: 80px 0;
}

.section-piller-title{
    padding: 0 0 32px 0;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1)
}

.section-piller-containers{
    display: flex;
    gap:24px;
}

.piller-item{
    width: 25%;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.piller-title{
    padding: 24px 0 12px 0;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.piller-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

/*section-vision page 3*/

.section-vision-title{
    padding: 0 0 24px 0;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1)
}

.section-vision-desc{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.section-vision-container{
    display: flex;
    padding: 32px 0px;
    gap: 24px;
}

.vision-item{
    padding: 32px;
    width: 33%;
    border-radius: 16px;
}

.vision-item-1{
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-item-2{
    background-color: rgba(198, 228, 214, 1);
}

.vision-item-3{
    background-color: rgba(247, 235, 207, 1);
}

.vision-title{
    padding: 24px 0 12px 0;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}

.vision-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    padding: 0 0 24px 0;
}

.vision-span{
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.vision-span-1{
    background-color: #5490F5;
}

.vision-span-1:hover{
    background-color: #2e4c80;
}

.vision-span-2{
    background-color: #09A15C;
}

.vision-span-2:hover{
    background-color: #1d5e40;
}

.vision-span-3{
    background-color: #FFC239;
}

.vision-span-3:hover{
    background-color: #91722a;
}

/*section-quote Quote*/
.section-quote{
    background-color: white;
    padding: 48px 24px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 24px 25px;
}
.section-quote-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}
.section-quote-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 0 4px 0;
}

/*section-opinion*/

.section-opinion{
    padding: 80px 0;
}
.opinion-table{
    border-collapse: collapse;
    width: 100%;
}

.opinion-table tr{
    height: 92px;
    text-align: left;
}

.opinion-table .large-row{
    width: 77%;
}

.opinion-table .small-row{
    width: 23%;
}
.opinion-table td, th{
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.opinion-table > thead > tr{
    background-color: rgba(198, 228, 214, 1);
}

.opinion-table > thead > tr > th{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
    padding: 24px;
}

.opinion-table > tbody > tr > td{
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}

.option-dropdown{
    padding: 10px 14px;
    border-radius: 4px;
    background-color: rgba(198, 228, 214, 1);
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
}